<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card mt-3" style="width: 400px;">
    <div class="container">
        <div class="row" th:each="data : ${postModel}">
            <div class="col-1">
                Vote button will show here
            </div>
            <div class="col-8">
                <h5 class="card-title">Springboot <label>15 hours ago</label></h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h2>A Spring boot</h2>
                        <p>A spring boot description</p>
                    </li>
                    <li class="list-group-item">
                        Comment (0)
                        <button type="button" class="btn btn-primary navbar-button">Read Post</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>