<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:insert="fragment/header"></div>
    <div class="Container">
        <div class="row" th:each="data : ${postModel}">
            <div class="col-8">

                <div class="card mt-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">
                                Vote button will show here
                            </div>
                            <div class="col-8">
                                <h5 class="card-title" style="display: inline-block">Springboot</h5><label>  15 hours ago</label>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <h2>A Spring boot</h2>
                                        <p>A spring boot description</p>
                                    </li>
                                    <li class="list-group-item">
                                        Comment (0)
                                        <button type="button" class="btn btn-primary navbar-button">Read Post</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="card p-2 mt-2" style="width: 400px;">
                    <img src="https://miro.medium.com/max/850/1*WsfmenxQNE1hhZasxsIGhA.png" class="rounded" alt="..." height="100px">
                    <div class="card-body">
                        <p class="card-text text-center">Welcome to Spring Reddit Clone home page. Come here to check in with your favorite subreddit.</p>
                        <a th:href="@{/create_post}" class="btn btn-primary w-100 mb-2">CREATE POST</a>
                        <a th:href="@{/createSubReddit}" class="btn btn-outline-primary w-100">CREATE SUBREDDIT</a>
                    </div>
                </div>
                <div class="card mt-3 p-2" style="width: 400px;" >
                    <h5 class="card-title">Browse Subreddits</h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>